// tag 容器收缩成小圆点，hover 时展示
.rem[data-rem-tags~="htag"],
.rem[data-rem-tags="blockquote"] {
  .hierarchy-editor__tag-bar {
    width: auto;
    right: 0;
    top: 0;
    width: 10px;
    height: 10px;
    background-color: rgb(3, 136, 21);
    border-radius: 50%;
    overflow: hidden;

    .hierarchy-editor__tag-bar__tag {
      display: none;
    }

    &:hover {
      background-color: #fff;
      width: unset;
      height: unset;
      border-radius: unset;
      overflow: unset;
      border-radius: 5px;
      .hierarchy-editor__tag-bar__tag {
        display: inline-flex;
      }
    }
  }
}

// =============== 美化标签 ===============

// 引用类样式
.quoteTag(@tagName, @borderColor, @bgcolor, @iconUrl) {
  .prefixIcon (@url) when not (@url = "") {
    & ::before {
      content: "";
      float: left;
      mask-image: url(@url);
      mask-repeat: no-repeat;
      mask-size: contain;
      position: relative;
      top: 3px;
      left: -1px;
      width: 20px;
      height: 16px;
      background: @borderColor;
    }
  }

  .rem[data-rem-tags~=~"@{tagName}"] > div:first-child .rem-text > div {
    background-color: @bgcolor;
    border-left: 5px solid @borderColor;
    padding: 6px 11px !important;
  }
  .rem[data-rem-tags~="@{tagName}"]
    > div:first-child
    .rem-container--compact
    .rem-text
    > div {
    margin: -2.5px 0;
    .prefixIcon(@iconUrl);
  }
}

.quoteTag("blockquote", #6e6e6e, #e8e8e8, "https://hannesfrank.github.io/remnote-css-rem-types/assets/concept.svg");
.quoteTag("warn", #f1b13a, #fff8e8, "https://hannesfrank.github.io/remnote-css-rem-types/assets/concept.svg");
