// 面包屑
.document-header-top-bar {
  .flex {
    display: inline;
  }
  .parent-link + span > svg {
    position: relative;
    top: 3px;
  }
}

// 链接下划线
.rem a {
  text-underline-position: under;
  color: #3434cf;
  text-decoration-color: #6a6adf;
}
// 块引用内链接去掉下划线
.rem-reference-link a {
  text-decoration: none;
}
