@keyframes yoyo-spin {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}

// 修改 bullet
.bullet(@image, @bgcolor) {
  .rem-bullet {
    --bullet-size: var(--yoyo-perfect-circle-width, 14px);
    --perfect-circle-width: max(20px, var(--bullet-size));

    // 收缩起来的时候设置颜色
    &.rem-bullet--hidden-children {
      .perfect-circle__inner {
        &::before {
          background: #fff !important;
        }
        &::after {
          content: "";
          display: block;
          background: var(--core-color, #cf7403) !important;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          border-radius: 50%;
          width: calc(var(--p-size) + 5px * var(--scale));
          height: calc(var(--p-size) + 5px * var(--scale));
          z-index: 1;
        }
      }
    }
    .perfect-circle__inner {
      --p-size: calc(var(--bullet-size) * var(--scale));
      svg {
        display: none;
      }
      &::before {
        content: "";
        mask-repeat: no-repeat;
        mask-image: @image;
        mask-position: center;
        mask-size: var(--p-size) var(--p-size);
        display: block;
        height: calc(var(--p-size));
        width: calc(var(--p-size));
        background: @bgcolor;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 9;
      }
    }
  }
}

@media (min-width: 600px) {
  .rem-container--default_type-rem-type.rem-container--forwards-practice-enabled,
  .rem-container--default_type-rem-type.rem-container--backwards-practice-enabled,
  .rem-container--default_type-rem-type.rem-container--forwards-practice-disabled {
    .bullet(url("https://browneyedsoul.github.io/ImageRepository/Basic3.svg"), var(--no-practice-color));
  }
  .rem-container--concept-rem-type {
    .bullet(url("https://browneyedsoul.github.io/ImageRepository/Concept.svg"), var(--no-practice-color));
  }
  .rem-container--descriptor-rem-type {
    .bullet(url("https://browneyedsoul.github.io/ImageRepository/Descriptor.svg"), var(--no-practice-color));
  }

  // Editing 小圆点
  .rem-container:focus-within {
    .plus-button {
      position: relative;
    }
    .rem-bullet {
      animation: yoyo-spin linear 5s infinite;
    }

    // .bullet("https://cdn.jsdelivr.net/gh/yoyooyooo/file@main/uPic/2022/07/09/drag.svg", var(--focus-rem-bullet-color));
    // .bullet(url("https://cdn.jsdelivr.net/gh/yoyooyooo/file@main/uPic/2022/07/11/chandelier.svg"), var(--focus-rem-bullet-color), 22px);

    // rem 折叠时
    .rem-bullet--hidden-children {
    }
    // rem 展开时
    .rem-bullet--all-children-visible {
    }
  }
}
