.cdnFont(@fontFamily,@filename) {
  @font-face {
    font-family: "@{fontFamily}";
    font-display: swap;
    src: local("@{fontFamily}"),
      url("https://cdn.jsdelivr.net/gh/yoyooyooo/file@main/uPic/2021/10/02/@{filename}.woff2")
        format("woff2"),
      url("https://cdn.jsdelivr.net/gh/yoyooyooo/file@main/uPic/2021/10/02/@{filename}.woff")
        format("woff"),
      url("https://cdn.jsdelivr.net/gh/yoyooyooo/file@main/uPic/2021/10/02/@{filename}.ttf")
        format("truetype");
  }
}

.cdnFont("Kalam-Regular", "Kalam-Regular");
.cdnFont("DancingScript-Regular", "DancingScript-Regular");
.cdnFont("GlowSansSC-Regular", "GlowSansSCRegular");

@font-face {
  font-family: "hand-painted";
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/yoyooyooo/file@main/uPic/2021/04/03/font.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

body,
.rem-text,
.font-inter {
  font-family: "GlowSansSC-Regular" !important;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
}
#DocumentTitle .document-title.rem-text {
  font-family: "Kalam-Regular", "hand-painted", "DancingScript-Regular",
    "GlowSansSC-Regular", sans-serif !important;
  //   -webkit-font-smoothing: antialiased;
  //   font-weight: 500;
}
