.header(@h, @bgcolor, @bulletSize, @fontSize,@circleWidth) {
  .rem-container--header-@{h} {
    // .rem-bullet,
    // .rem-bullet--in-list {
    //   width: @bulletSize;
    //   height: @bulletSize;
    //   // border-radius: 50%;
    //   border-color: lighten(@bgcolor, 20%);
    // }
    .rem-bullet__number {
      color: @bgcolor;
      // numberlist 时，收缩时用文字阴影，背景色和字体色不搭
      > div:first-child:not(:last-child) {
        background-color: unset;
      }
      > div:last-child:not(:first-child) {
        text-shadow: 0 0 2px darken(@bgcolor, 100%);
      }
    }
    .rem-bullet__container {
      .perfect-circle {
        --perfect-circle-width: @circleWidth;
        .perfect-circle__inner {
          background-color: @bgcolor;
          border-radius: 50%;
          svg {
            color: @bgcolor;
          }
        }
      }
    }
    .rem-text.rem-header--@{h} {
      --perfect-circle-width: 12px;
      --perfect-circle-scale: 10;
      font-size: @fontSize;
      // .rem-bullet__number .rounded-full {
      //   margin-top: ~"calc(@{fontSize} - 0.75rem)";
      // }
    }
  }
}

.header(1, hsl(0, 51%, 54%), 12px, 1.1rem, 16px);
.header(2, hsl(251, 97%, 69%), 10px, 1.05rem, 14px);
.header(3, hsl(81, 80%, 50%), 8px, 1rem, 12px);
