.header(@h, @coreColor, @ringColor, @fontSize, @circleWidth) {
  .rem-container--header-@{h} {
    .rem-bullet__number {
      font-size: @fontSize;
      color: @coreColor;
      // number list 时，收缩时用文字阴影，背景色和字体色不搭
      > div:first-child:not(:last-child) {
        background-color: unset;
      }
      > div:last-child:not(:first-child) {
        text-shadow: 0 0 2px darken(@coreColor, 100%);
      }
    }
    .rem-bullet__container {
      .rn-rem-bullet--hidden-children .rem-bullet__ring {
        fill: @ringColor;
      }

      .perfect-circle {
        --perfect-circle-width: @circleWidth !important;
        .perfect-circle__inner {
          &::before {
            background: @coreColor !important; // 配合当前激活rem的小圆点自定义svg的颜色
          }
          .rem-bullet__core {
            color: @coreColor;
          }
        }
      }
    }
    .rem-text.rem-header--@{h} {
      font-size: @fontSize;
    }
  }
}

.header(1, hsl(0, 51%, 54%), hsl(0, 41%, 80%), 1.1rem, 22px);
.header(2, hsl(251, 97%, 69%), hsl(251, 77%, 88%),1.05rem, 18px);
.header(3, hsl(81, 80%, 50%), hsl(81, 60%, 85%), 1rem, 14px);
