/* 行内code */
.rem-text .RichTextViewer .quote {
  margin-left: 2px;
  margin-right: 2px;
  background-color: #e0e1e1;
}

/* 下划线 */
.underline {
  text-decoration: red solid underline;
  text-underline-position: under;
}

/* heading */
.rem-header--1 {
  font-size: var(--heading1-font-size);
  background-color: rgb(0 0 1 / 5%);
}
.rem-header--2 {
  font-size: var(--heading2-font-size);
}
.rem-header--3 {
  font-size: var(--heading3-font-size);
  text-decoration: underline;
  text-underline-position: under;
}
