@media (min-width: 600px) {
  #main #content {
    > .flex.flex-shrink-0.fade-on-hide-ui.text-gray-40.h-full.left-0 {
      width: 0;
      > [data-place="bottom"] {
        z-index: 1;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
    > .flex.flex-shrink-0.fade-on-hide-ui.text-gray-40.h-full.right-0 {
      width: 0;
      > [data-place="bottom"] {
        z-index: 1;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }

  #document-sidebar [data-type="document_list_item"] {
    padding-left: 30px;
  }
}
