#main #content {
  > .w-\[40px\] {
    width: 0;
    > [data-place="bottom"] {
      z-index: 1;
      position: absolute;
      bottom: 0;
    }

    &:nth-of-type(1) > [data-place="bottom"] {
      left: 0;
    }
    & + .content__page + & > [data-place="bottom"] {
      left: 0;
    }
  }
}
