#main #content {
  > .w-\[40px\] {
    width: 0;
    > [data-place="bottom"] {
      z-index: 1;
      position: absolute;
      bottom: 0;
    }

    &:nth-of-type(1) > [data-place="bottom"] {
      left: 0;
    }
  }

  > .w-\[40px\] + .content__page + .w-\[40px\] > [data-place="bottom"] {
    right: 0;
  }
}
