.rn-tag {
  background: linear-gradient(45deg, #ffb7b7, #7e7a7a00),
    linear-gradient(135deg, #7e7a7a00, #fbffdf);
  .rn-tag__prefix {
    display: none;
  }
  .rn-tag__close {
    display: none;
  }
  &:hover .rn-tag__close {
    display: block;
  }
}
